@import 'src/scss/mixins.scss';

.c-SignUp {
  height: 100vh;
}

.c-SignUp__form {
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14) !important;
  padding: 30px;
  padding-top: 5px;
}

.c-SignUp__formTitle {
  @include fontMixin(20px, "Roboto", 400, unset, unset, #757575);
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.c-SignUp__registerNow {
  display: flex;
  justify-content: center;
  margin-top: 15px !important;
  font-weight: bold;
  color: #757575;
}