{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "react-hooks", "@typescript-eslint"],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "linebreak-style": "off",
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "consistent-return": "off",
    "global-require": "off",
    "react/prop-types": "off",
    "react/no-danger": "off",
    "no-nested-ternary": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "jsx-a11y/interactive-supports-focus": "off",
    "import/no-cycle": "off",
    "no-useless-catch": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/return-await": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
