@import 'src/scss/mixins.scss';

.c-NewButton {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 15px;
  position: relative;

  .c-NewButton__button {
    border-radius: 20px;
  }

  @include screen(599px) {
    display: none;
  }
}
