@import 'src/scss/mixins.scss';

.c-NewButton {
  display: flex;
  margin-bottom: 25px;
  padding-left: 15px;
  position: relative;
  .c-NewButton__button {
    border-radius: 20px;
  }
}

.c-NewButton__popoverItems {
  display: flex;
  align-items: center;
  padding: 10px;
  @include fontMixin(16px, 'Roboto', 400, unset, unset, #757575);
  cursor: pointer;

  svg {
    margin-right: 10px;
  }

  input {
    display: none;
  }

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }
}

.c-NewButton__modal {
  display: flex;
  align-items: center;
  justify-content: center;
  .c-NewButton__modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      @include fontMixin(16px, 'Roboto', 400, unset, unset, #3f51b5);
      margin-top: 15px;
    }
  }
  div {
    &:focus {
      outline: none;
    }
  }
}
