.c-FileList {
  .c-FileList__listItem {
    padding-right: 80px;
  }

  .c-FileList__folderAvatar {
    background-color: #4c8bf5;
  }

  .c-FileList__itemName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
