@import 'src/scss/mixins';

.c-Layout {
  .c-Layout__main {
    margin-top: 64px;
    margin-left: 250px;
    height: calc(100vh - 128px);

    @include screen(599px) {
      margin-left: 0;
    }
  }
}
